{
    "presets": [
      "next/babel"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "ssr": true, "displayName": true, "preprocess": false,
          "root": [
            "./src"
          ],
          "alias": {
            "@core": "./src/core",
            "@utils": "./src/utils",
            "@styles": "./src/styles",
            "@components": "./src/components"
          }
        },
        "styled-components"
      ]
    ]
  }