.final-swiper {
  width: 100%;
  padding: 10px !important;
}
.todo-swiper{
  height:240px;
}

.goals-swiper{
  height:614px;
  width:100%;
}

.detail-todo{
  height:400px;
  width: 100%;
}

.detail-swiper-item{
  padding:10px
}